<div class="well well-lg">
  <ul>
    <li>ID: <%= @airport.id %></li>
    <li>Name: <%= @airport.name %></li>
    <li>Country: <%= @airport.country.name %></li>
  </ul>
</div>
<%= link_to '< Back', airports_path %>